<h5>Category 3</h5><br>
<div class="container">
    <h6>Research Papers Published - Refereed Journals</h6>
    <hr>

    {{#if result}}
    {{#each result}}
    <div class="row" id="refereedJournals">
        <h6><strong>Publication Details</strong></h6>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="publicationDetails" id="publicationDetails" class="materialize-textarea validate" disabled>{{publicationDetails}}</textarea>
                <label for="publicationDetails">Publication Details</label>
            </div>
        </div>

        <h6><strong>Publication Link</strong></h6>
        <div class="row">
            <div class="input-field col s12">
                <input type="url" name="link" value="{{link}}" class="validate" disabled>
                <label for="link">Publication Link</label>
            </div>
        </div>

        <h6><strong>Uploaded File</strong></h6>
        <div class="row">
            <div class="input-field col s12">
                <a href="{{file}}" target="_blank" class="btn waves-effect waves-light blue">View File</a>
            </div>
        </div>

        <h6><strong>Score</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="scoreNine" value="{{scoreNine}}" class="validate" disabled>
                <label for="scoreNine">Total Score (15 per publication)</label>
            </div>
            <div class="input-field col s6">
                <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                    Help <i class="material-icons right">help_outline</i>
                </a>
            </div>
        </div>

        <a href="/annexure-3/refereedJournals/edit/{{id}}" class="btn waves-effect waves-light red center mb-2">Edit</a>
        <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to overview</a><br><br>
        <form method="post" action="/annexure-3/refereedJournals/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
        </form>
    </div>
    {{/each}}
    {{else}}
    
    {{#if editResult}}
    <div class="row" id="refereedJournals">
        <form action="/annexure-3/refereedJournals/{{editResult.id}}?_method=PUT" method="post" class="col s12" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            
            <h6><strong>Enter Publication Details</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="publicationDetails" id="publicationDetails" class="materialize-textarea validate" required>{{editResult.publicationDetails}}</textarea>
                    <label for="publicationDetails">Publication Details</label>
                </div>
            </div>

            <h6><strong>Publication Link</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <input type="url" name="link" id="link" class="validate" value="{{editResult.link}}" required>
                    <label for="link">Publication Link</label>
                </div>
            </div>

            <h6><strong>Upload PDF/Image</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <input type="file" name="file" id="file" accept=".pdf,.jpg,.png">
                </div>
            </div>

            <h6><strong>Score</strong></h6>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="scoreNine" id="scoreNine" value="{{editResult.scoreNine}}" class="validate" disabled>
                    <label for="scoreNine">Total Score (15 per publication)</label>
                </div>
                <div class="input-field col s6">
                    <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                        Help <i class="material-icons right">help_outline</i>
                    </a>
                </div>
            </div>

            <button type="submit" class="btn waves-effect waves-dark">Update</button>
        </form>
    </div>
    {{else}}
    
    <div class="row" id="refereedJournals">
        <form action="/annexure-3/refereedJournals" method="post" class="col s12" enctype="multipart/form-data">
            <h6><strong>Enter Publication Details</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="publicationDetails" id="publicationDetails" class="materialize-textarea validate" required></textarea>
                    <label for="publicationDetails">Publication Details</label>
                </div>
            </div>

            <h6><strong>Publication Link</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <input type="url" name="link" id="link" class="validate" required>
                    <label for="link">Publication Link</label>
                </div>
            </div>

            <h6><strong>Upload PDF/Image</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <input type="file" name="file" id="file" accept=".pdf,.jpg,.png" required>
                </div>
            </div>

            <h6><strong>Score</strong></h6>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="scoreNine" id="scoreNine" value="0" class="validate" disabled>
                    <label for="scoreNine">Total Score (15 per publication)</label>
                </div>
                <div class="input-field col s6">
                    <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                        Help <i class="material-icons right">help_outline</i>
                    </a>
                </div>
            </div>
            <button type="button" class="btn waves-effect waves-light" onclick="addPublication()">Add Another</button>
            <button type="submit" class="btn waves-effect waves-dark">Submit</button>
        </form>
    </div>
    <script>
        let publicationCount = 1;
        function addPublication() {
            publicationCount++;
            document.getElementById("scoreNine").value = publicationCount * 15;
        }
    </script>
    
</div>
{{/if}}
{{/if}}
