<h5>Category 1</h5><br>
<div class="container">
    <h6>1.4 Innovative Teaching</h6>
    <hr>

    {{#if result}}
    {{#each result}}
    <div class="row" id="innovativeTeaching">
        <h6><strong>Innovative Techniques Applied</strong></h6>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="techniques" id="techniques" class="materialize-textarea validate" disabled>{{techniques}}</textarea>
                <label for="techniques">Enter the innovative techniques applied</label>
            </div>
        </div>

        <h6><strong>Score</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="scoreFour" id="scoreFour" 
                    value="{{scoreFour}}" class="validate" disabled max="20">
                <label for="scoreFour">Enter the Score (Max: 20)</label>
            </div>
            <div class="input-field col s6">
                <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                    Help <i class="material-icons right">help_outline</i>
                </a>
            </div>
        </div>

        <a href="/annexure-1/innovativeTeaching/edit/{{id}}" 
            class="btn waves-effect waves-light red center mb-2">Edit</a>
        <a href="/users/faculty/facultyOverview" 
            class="btn waves-effect waves-light purple center mb-2">Back to overview</a><br><br>
        <form method="post" action="/annexure-1/innovativeTeaching/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
        </form>
    </div>
    </div>
    {{else}}
    {{/each}}
    {{else}}

    {{#if editResult}}
    <div class="row" id="innovativeTeaching">
        <form action="/annexure-1/innovativeTeaching/{{editResult.id}}?_method=PUT" method="post" class="col s12">
            <input type="hidden" name="_method" value="PUT">

            <h6><strong>Innovative Techniques Applied</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="techniques" id="techniques" class="materialize-textarea validate" required>{{editResult.techniques}}</textarea>
                    <label for="techniques">Enter the innovative techniques applied</label>
                </div>
            </div>

            <h6><strong>Score</strong></h6>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="scoreFour" id="scoreFour" 
                        value="{{editResult.scoreFour}}" class="validate" required max="20">
                    <label for="scoreFour">Enter the Score (Max: 20)</label>
                </div>
                <div class="input-field col s6">
                    <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                        Help <i class="material-icons right">help_outline</i>
                    </a>
                </div>
            </div>

            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that the above-filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <button class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit</button>
        </form>
    </div>

    {{else}}

    <div class="row" id="innovativeTeaching">
        <form action="/annexure-1/innovativeTeaching" method="post" class="col s12">
            <h6><strong>Innovative Techniques Applied</strong></h6>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="techniques" id="techniques" class="materialize-textarea validate" required></textarea>
                    <label for="techniques">Enter the innovative techniques applied</label>
                </div>
            </div>

            <h6><strong>Score</strong></h6>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" name="scoreFour" id="scoreFour" 
                        class="validate" required max="20">
                    <label for="scoreFour">Enter the Score (Max: 20)</label>
                </div>
                <div class="input-field col s6">
                    <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">
                        Help <i class="material-icons right">help_outline</i>
                    </a>
                </div>
            </div>

            <div>
                <p>
                    <label>
                        <input id="indeterminate-checkbox" type="checkbox" required />
                        <span>I acknowledge that the above-filled information is verified and justified by me.</span>
                    </label>
                </p>
            </div>
            <button class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit</button>
        </form>
    </div>
</div>
{{/if}}
{{/if}}
