<h5>Category 1</h5><br>
<div class="container">
    <h6>1.2 Lectures in Excess</h6>
    <hr>
    {{#if result}}
    {{#each result}}
    <div class="row" id="lecturesExcess">
        <h6><strong>Lectures</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="lecturesTaken" id="lecturesTaken" 
                    value="{{lecturesTaken}}" class="validate" disabled>
                <label for="lecturesTaken">Lectures Taken</label>
            </div>
            
        </div>
        <h6><strong>Tutorials</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="tutorialsTaken" id="tutorialsTaken" 
                    value="{{tutorialsTaken}}" class="validate" disabled>
                <label for="tutorialsTaken">Tutorials Taken</label>
            </div>
            
        </div>
        <h6><strong>Practical Sessions</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="practicalSessionsTaken" id="practicalSessionsTaken" 
                    value="{{practicalSessionsTaken}}" class="validate" disabled>
                <label for="practicalSessionsTaken">Practical Sessions Taken</label>
            </div>
            
        </div>

        <h6><strong>Score</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="scoreTwo" id="scoreTwo" value="{{scoreTwo}}" class="validate" disabled max="10">
                <label for="scoreTwo">Enter the Score (Max : 10)</label>
            </div>
            <div class="input-field col s6">
                <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">Help <i class="material-icons right">help_outline</i></a>
            </div>

            
        </div>
        
        <a href="/annexure-1/lecturesExcess/edit/{{id}}"
            class="btn waves-effect waves-light red center mb-2">Edit</a>
        <a href="/users/faculty/facultyOverview" class="btn waves-effect waves-light purple center mb-2">Back to
            overview</a><br><br>
        <form method="post" action="/annexure-1/lecturesExcess/delete/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn waves-effect waves-light center red white-text" value="Delete">
        </form>
    </div>
</div>
{{else}}
{{/each}}
{{else}}
{{#if editResult}}
<div class="row" id="lecturesExcess">
    <form action="/annexure-1/lecturesExcess/{{editResult.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <h6><strong>Lectures</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="lecturesTaken" id="lecturesTaken" 
                    value="{{editResult.lecturesTaken}}" class="validate" required>
                <label for="lecturesTaken">Lectures Taken</label>
            </div>
            
        </div>
        <h6><strong>Tutorials</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="tutorialsTaken" id="tutorialsTaken" 
                    value="{{editResult.tutorialsTaken}}" class="validate" required>
                <label for="tutorialsTaken">Tutorials Taken</label>
            </div>
            
        </div>
        <h6><strong>Practical Sessions</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="practicalSessionsTaken" id="practicalSessionsTaken" 
                    value="{{editResult.practicalSessionsTaken}}" class="validate" required>
                <label for="practicalSessionsTaken">Practical Sessions Taken</label>
            </div>
            
        </div>

        <h6><strong>Score</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="scoreTwo" id="scoreTwo" value="{{editResult.scoreTwo}}" class="validate" required max="10">
                <label for="scoreTwo">Enter the Score (Max : 10)</label>
            </div>
            <div class="input-field col s6">
                <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">Help <i class="material-icons right">help_outline</i></a>
            </div>
        </div>
        
        <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit
        </button>
    </form>

</div>
</div>
</div>

{{else}}
<div class="row" id="lecturesExcess">
    <form action="/annexure-1/lecturesExcess" method="post" class="col s12">
        <h6><strong>Lectures</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="lecturesTaken" id="lecturesTaken" 
                     class="validate" required>
                <label for="lecturesTaken">Lectures Taken</label>
            </div>
            
        </div>
        <h6><strong>Tutorials</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="tutorialsTaken" id="tutorialsTaken" 
                    class="validate" required>
                <label for="tutorialsTaken">Tutorials Taken</label>
            </div>
            
        </div>
        <h6><strong>Practical Sessions</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="practicalSessionsTaken" id="practicalSessionsTaken" 
                    class="validate" required>
                <label for="practicalSessionsTaken">Practical Sessions Taken</label>
            </div>
            
        </div>
        <h6><strong>Score</strong></h6>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="scoreTwo" id="scoreTwo" class="validate" required max="10">
                <label for="scoreTwo">Enter the Score (Max : 10)</label>
            </div>
            <div class="input-field col s6">
                <a href="/pdfs/help.pdf" target="_blank" class="btn waves-effect waves-light blue">Help <i class="material-icons right">help_outline</i></a>
            </div>
        </div>


        
        <div>
            <p>
                <label>
                    <input id="indeterminate-checkbox" type="checkbox" required />
                    <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <a href="/annexure-2/paperspublishedinNationalConf" class="waves-effect waves-light btn red center">Not
            Applicable</a>
        <button class="btn waves-effect waves-dark" id="submit_btn" type="submit" disabled>Submit
        </button>   
    </form>
</div>
</div>
{{/if}}
{{/if}}


