<div class="row">
    <div class="col s8">
        <h5>Faculty Overview</h5>
        <h6>Academic Year: {{year}}</h6>
    </div>
    <div class="col s4">
        <form action="/users/faculty/pdf" method="post">
            <h5 class="right"> <button class="btn waves-effect waves-light" type="submit" id="submit_btn">PDF <i
                        class="fa fa-download white-text" aria-hidden="true"></i></button></h5>
        </form>
    </div>
</div>

{{!-- <pre>{{json this}}</pre> --}}


{{#each finalResult}}
<ul class="collapsible popout" data-collapsible="accordion">
    

    

    <li id="overview">
        <div class="collapsible-header"><i class="material-icons">book</i><b>Category 1</b>
        <div class="right inline col s12 m4 l2" style="text-align: right;">
            <span style="font-weight: bold; font-size: 16px; display: inline-block; border-bottom: 1px solid black; padding-bottom: 2px;">
                Total Score ({{category_1}} / 125)
            </span>
            <input id="score_inline" value="{{categoryOneTotalScore}}" name="categoryOneTotalScore"
                type="number" class="validate" disabled style="display: none;">
        </div>
            <br><br><br>
        </div>
        <div class="collapsible-body">
            <ul class="collection">
               
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../teachingContributionScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>1.1 Teaching Contribution</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../teachingContributionScore}}</strong>
                            

                            <div class="right">
                                <a class="btn-small" href="/category-1/teachingContribution"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../lecturesExcessScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>1.2 Lecture in Excess</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../lecturesExcessScore}}</strong>


                            <div class="right">
                                <a class="btn-small" href="/category-1/lecturesExcess"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../additionalResourcesScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>1.3 Additional Resources</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../additionalResourcesScore}}</strong>


                            <div class="right">
                                <a class="btn-small" href="/category-1/additionalResources"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../innovativeTeachingScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>1.4 Innovative Teaching</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../innovativeTeachingScore}}</strong>


                            <div class="right">
                                <a class="btn-small" href="/category-1/innovativeTeaching"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../examinationDutiesScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>1.5 Examination Duties</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../examinationDutiesScore}}</strong>


                            <div class="right">
                                <a class="btn-small" href="/category-1/examinationDuties"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>


    
            </ul>
        </div>
    </li>

    <li id="overview">
        <div class="collapsible-header"><i class="material-icons">book</i><b>Category 2</b>
            <div class="right inline col s12 m4 l2">
                <input id="score_inline" placeholder="Score ( /40)" value="{{category_2}}" disabled name="category_2"
                    type="number" class="validate">
            </div>
            <br><br><br>
        </div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../papersPublishedNationalConf}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.1 Papers Published In National Conference

                            <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedNationalConf"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../papersPublishedInternationalConf}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.2 Papers Published International Conference

                            <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedInternationalConf"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../papersPublishedJournals}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.3 Papers Published In Journals

                            <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedJournals"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../moocs}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.4 MOOCS

                            <div class="right">
                                <a class="btn-small" href="/category-2/moocs" style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../swayam}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.5 Swayam

                            <div class="right">
                                <a class="btn-small" href="/category-2/swayam"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../shortTermTraining}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.6 Short-Term Traning

                            <div class="right">
                                <a class="btn-small" href="/category-2/shortTermTraining"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../seminars}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            2.8 Seminars

                            <div class="right">
                                <a class="btn-small" href="/category-2/seminars"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

            </ul>
        </div>
    </li>


    <li id="overview">
        <div class="collapsible-header"><i class="material-icons">book</i><b>Category 3</b>
            <div class="right inline col s12 m4 l2" style="text-align: right;">
                <span style="font-weight: bold; font-size: 16px; display: inline-block; border-bottom: 1px solid black; padding-bottom: 2px;">
                    Total Score: {{category_3}}
                </span>
                <input id="score_inline" value="{{categoryThreeTotalScore}}" name="categoryThreeTotalScore"
                    type="number" class="validate" disabled style="display: none;">
            </div>
            <br><br><br>
        </div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../totalThreeOneScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>3.1 Research Papers Published</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../totalThreeOneScore}}</strong>

                            <div class="right">
                                <a class="btn-small" href="/category-3/researchpaperspublished" style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../totalThreeTwoScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>3.2 Books/Chapters Published</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../totalThreeTwoScore}}</strong>

                            <div class="right">
                                <a class="btn-small" href="/category-3/booksChaptersPublished" style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../totalThreeThreeScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>3.3.1 Sponsored Projects Carried Out/Ongoing</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../totalThreeThreeScore}}</strong>

                            <div class="right">
                                <a class="btn-small" href="/category-3/sponsoredProjects" style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../totalThreeFourScore}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            <span>3.3.2 Consultancy Projects Carried Out/Ongoing</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{../totalThreeFourScore}}</strong>

                            <div class="right">
                                <a class="btn-small" href="/category-3/consultancyProjects" style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
                

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../contributionToSyllabus}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            3.2 Contribution To Syllabus Framing

                            <div class="right">
                                <a class="btn-small" href="/category-3/contributionToSyllabus"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../memberOfUniversityCommitte}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            3.3 Member Of University Committe

                            <div class="right">
                                <a class="btn-small" href="/category-3/memberOfUniversityCommitte"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../consultancyAssignment}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            3.4 Consultancy Assignment

                            <div class="right">
                                <a class="btn-small" href="/category-3/consultancyAssignment"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>

                <li class="collection-item">
                    <p>
                        <div>
                            {{#if ../externalProjectsOrCompetition}}
                            <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                            {{/if}}
                            3.5 External Projects Or Competitions Participations

                            <div class="right">
                                <a class="btn-small" href="/category-3/externalProjectsOrCompetition"
                                    style="background-color: purple;">View</a>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </li>
</ul>
<h6>Your marks for the academic year {{facultyMarks.academic_year}} have already been submitted.</h6>
<br><br>
{{else}}
<form method="POST" action="/users/faculty/facultyOverview/{{year}}">
    <ul class="collapsible popout" data-collapsible="accordion">
        

        

        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Category 1</b>
                <div class="right inline col s12 m4 l2" style="text-align: right;">
                    <span style="font-weight: bold; font-size: 16px; display: inline-block; border-bottom: 1px solid black; padding-bottom: 2px;">
                         Total Score ({{categoryOneTotalScore}} / 125)
                     </span>
                     <input id="score_inline" value="{{categoryOneTotalScore}}" name="categoryOneTotalScore"
                          type="number" class="validate" disabled style="display: none;">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                


                    
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if teachingContributionScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>1.1 Teaching Contribution</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{teachingContributionScore}}</strong>

                                <div class="right">
                                <a class="btn-small" href="/category-1/teachingContribution"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if lecturesExcessScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>1.2 Lecture in Excess</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{lecturesExcessScore}}</strong>
                                

                                <div class="right">
                                <a class="btn-small" href="/category-1/lecturesExcess"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if additionalResourcesScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>1.3 Additional Resources</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{additionalResourcesScore}}</strong>


                                <div class="right">
                                <a class="btn-small" href="/category-1/additionalResources"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if innovativeTeachingScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>1.4 Innovative Teaching</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{innovativeTeachingScore}}</strong>


                                <div class="right">
                                <a class="btn-small" href="/category-1/innovativeTeaching"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if examinationDutiesScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>1.5 Examination Duties</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{examinationDutiesScore}}</strong>

                                <div class="right">
                                <a class="btn-small" href="/category-1/examinationDuties"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    
                </ul>
            </div>
        </li>

        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Category 2</b>
                <div class="right inline col s12 m4 l2">
                    <input id="score_inline" placeholder="Score ( /40)" name="category_2" type="number"
                        class="validate">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if papersPublishedNationalConf}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.1 Papers Published In National Conference

                                <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedNationalConf"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if papersPublishedInternationalConf}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.2 Papers Published International Conference

                                <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedInternationalConf"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if papersPublishedJournals}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.3 Papers Published In Journals

                                <div class="right">
                                <a class="btn-small" href="/category-2/papersPublishedJournals"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if moocs}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.4 MOOCS

                                <div class="right">
                                <a class="btn-small" href="/category-2/moocs"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if swayam}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.5 Swayam

                                <div class="right">
                                <a class="btn-small" href="/category-2/swayam"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if shortTermTraining}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.6 Short-Term Traning

                                <div class="right">
                                <a class="btn-small" href="/category-2/shortTermTraining"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if seminars}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                2.8 Seminars

                                <div class="right">
                                <a class="btn-small" href="/category-2/seminars"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                </ul>
            </div>
        </li>


        <li id="overview">
            <div class="collapsible-header"><i class="material-icons">book</i><b>Category 3</b>
                <div class="right inline col s12 m4 l2" style="text-align: right;">
                    <span style="font-weight: bold; font-size: 16px; display: inline-block; border-bottom: 1px solid black; padding-bottom: 2px;">
                        Total Score: {{categoryThreeTotalScore}}
                    </span>
                    <input id="score_inline" value="{{categoryThreeTotalScore}}" name="categoryThreeTotalScore"
                        type="number" class="validate" disabled style="display: none;">
                </div>
                <br><br><br>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if totalThreeOneScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>3.1 Research Papers Published</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{totalThreeOneScore}}</strong>
    
                                <div class="right">
                                    <a class="btn-small" href="/category-3/researchpaperspublished" style="background-color: purple;">View</a>
                                </div>
                            </div>
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if totalThreeTwoScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>3.2 Books/Chapters Published</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{totalThreeTwoScore}}</strong>
    
                                <div class="right">
                                    <a class="btn-small" href="/category-3/booksChaptersPublished" style="background-color: purple;">View</a>
                                </div>
                            </div>
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if totalThreeThreeScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>3.3.1 Sponsored Projects Carried Out/Ongoing</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{totalThreeThreeScore}}</strong>

                                <div class="right">
                                    <a class="btn-small" href="/category-3/sponsoredProjects" style="background-color: purple;">View</a>
                                </div>
                            </div>
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if totalThreeFourScore}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                <span>3.3.2 Consultancy Projects Carried Out/Ongoing</span> &nbsp;&nbsp;&nbsp; <strong>Score: {{totalThreeFourScore}}</strong>

                                <div class="right">
                                    <a class="btn-small" href="/category-3/consultancyProjects" style="background-color: purple;">View</a>
                                </div>
                            </div>
                        </p>
                    </li>
                    
                    

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if contributionToSyllabus}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.2 Contribution To Syllabus Framing

                                <div class="right">
                                <a class="btn-small" href="/category-3/contributionToSyllabus"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if memberOfUniversityCommitte}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.3 Member Of University Committe

                                <div class="right">
                                <a class="btn-small" href="/category-3/memberOfUniversityCommitte"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if consultancyAssignment}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.4 Consultancy Assignment

                                <div class="right">
                                <a class="btn-small" href="/category-3/consultancyAssignment"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>

                    <li class="collection-item">
                        <p>
                            <div>
                                {{#if externalProjectsOrCompetition}}
                                <i class="fa fa-check green-text fa-lg" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-times red-text fa-lg" aria-hidden="true"></i>
                                {{/if}}
                                3.5 External Projects Or Competitions Participations

                                <div class="right">
                                <a class="btn-small" href="/category-3/externalProjectsOrCompetition"
                                    style="background-color: purple;">View</a>
                            </div>
                            </div>
                        </p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div>
             <p>
                 <label>
                <input id="indeterminate-checkbox-overview" type="checkbox" required/>
                 <span>I acknowledge that above filled information is verified and justified by me.</span>
                </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit_btn_overview" disabled>Submit
            <i class="material-icons right">send</i>
        </button>
</form>
<br><br>
{{/each}}
